In [1]:
import os
import sys
import logging

import pandas as pd
import numpy as np

In [2]:
#----------------------------------------------------------------
# Configurations section
#----------------------------------------------------------------

data_file_path = os.path.join("..","data")
csv_data_file = os.path.join(data_file_path, "reduced_repord_data.csv")

In [3]:
#----------------------------------------------------------------
# Import the procedures that download and transform the pdf file
# into a dataframe.
#----------------------------------------------------------------

module_path = os.path.abspath(os.path.join('..','src'))
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path)

from ETL import load_data_file
from ETL import calculate_daily_diffs
from ETL import init_logger


init_logger('/tmp', "etl-notebook.log",log_level=logging.DEBUG, std_out_log_level=logging.ERROR)

/home/giovanni/code-personal/python/CoronaVirus/src

In [4]:
print(csv_data_file)
df = load_data_file(csv_data_file)
(df.shape, df["REPORT DATE"].min(), df["REPORT DATE"].max(),df.dtypes)

../data/reduced_repord_data.csv

((5145, 10),
 '2020-05-01',
 '2020-12-31',
 REPORT DATE                     object
 Regione                         object
 Ricoverati con sintomi           int64
 Terapia intensiva                int64
 Totale attualmente positivi      int64
 DECEDUTI                         int64
 Isolamento domiciliare           int64
 CASI TOTALI - A                  int64
 Totale tamponi effettuati      float64
 SCHEMA VERSION                  object
 dtype: object)

In [15]:
df.head(3)

,REPORT DATE,Regione,Ricoverati con sintomi,Terapia intensiva,Totale attualmente positivi,DECEDUTI,Isolamento domiciliare,CASI TOTALI - A,Totale tamponi effettuati,SCHEMA VERSION
0,2020-05-01,Molise,17,1,190,21,172,300,6463,v5
1,2020-05-01,Trento,146,19,1293,423,1128,4132,37838,v5
2,2020-05-01,Piemonte,2503,181,15562,3097,12878,26684,162568,v5

In [27]:


mask = df['Regione'] == 'Lombardia'
df.loc[mask,'delta 2'] = df_lombardia['CASI TOTALI - A'].diff(periods = 1)

df[mask].head(15)

,REPORT DATE,Regione,Ricoverati con sintomi,Terapia intensiva,Totale attualmente positivi,DECEDUTI,Isolamento domiciliare,CASI TOTALI - A,Totale tamponi effettuati,SCHEMA VERSION,delta 2
10,2020-05-01,Lombardia,6628,563,36473,13860,29282,76469,390644.0,v5,NaN
22,2020-05-02,Lombardia,6529,545,36667,14189,29593,77002,403702.0,v5,533.0
57,2020-05-03,Lombardia,6609,532,36926,14231,29785,77528,410857.0,v5,526.0
74,2020-05-04,Lombardia,6414,532,37307,14294,30361,78105,418835.0,v5,577.0
99,2020-05-05,Lombardia,6201,509,37092,14389,30382,78605,425290.0,v5,500.0
116,2020-05-06,Lombardia,6079,480,31753,14611,25194,79369,439806.0,v5,764.0
135,2020-05-07,Lombardia,5848,480,32015,14745,25687,80089,455294.0,v5,720.0
163,2020-05-08,Lombardia,5702,400,31983,14839,25881,80723,466287.0,v5,634.0
183,2020-05-09,Lombardia,5535,330,30262,14924,24397,81225,477765.0,v5,502.0
200,2020-05-10,Lombardia,5428,348,30190,14986,24414,81507,485134.0,v5,282.0
225,2020-05-11,Lombardia,5397,341,30411,15054,24673,81871,492642.0,v5,364.0
246,2020-05-12,Lombardia,5222,322,30675,15116,25131,82904,513244.0,v5,1033.0
261,2020-05-13,Lombardia,5007,307,30032,15185,24718,83298,524163.0,v5,394.0
288,2020-05-14,Lombardia,4818,297,29956,15296,24841,83820,538243.0,v5,522.0
309,2020-05-15,Lombardia,4705,276,27746,15411,22765,84119,550405.0,v5,299.0

In [ ]:
df.loc[mask, dest_col] = df.loc[mask, in_col].diff(periods = 1)