In [1]:
import os
import sys
import logging

import pandas as pd
import numpy as np

In [2]:
#----------------------------------------------------------------
# Configurations section
#----------------------------------------------------------------

data_file_path = os.path.join("..","data")
csv_data_file = os.path.join(data_file_path, "report_data.csv")

In [3]:
#----------------------------------------------------------------
# Import the procedures that download and transform the pdf file
# into a dataframe.
#----------------------------------------------------------------

module_path = os.path.abspath(os.path.join('..','src'))
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path)

from ETL import load_data_file
from ETL import calculate_daily_diffs
from ETL import init_logger


init_logger('/tmp', "etl-notebook.log",log_level=logging.DEBUG, std_out_log_level=logging.ERROR)

/home/giovanni/code-personal/python/Virus/src

In [12]:
print(csv_data_file)
df = load_data_file(csv_data_file)
if df.is_ok():
    df = df()
(df.shape, df["REPORT DATE"].min(), df["REPORT DATE"].max(),df.dtypes)

../data/report_data.csv

((5292, 12),
 Timestamp('2020-05-01 00:00:00'),
 Timestamp('2021-01-07 00:00:00'),
 REPORT DATE                    datetime64[ns]
 Regione                                object
 Ricoverati con sintomi                  int64
 Terapia intensiva                       int64
 Totale attualmente positivi             int64
 DECEDUTI                                int64
 Isolamento domiciliare                  int64
 CASI TOTALI - A                         int64
 Totale tamponi effettuati             float64
 SCHEMA VERSION                         object
 D - CASI TOTALI - A                   float64
 D - DECEDUTI                          float64
 dtype: object)

In [11]:
df.head(3)

,REPORT DATE,Regione,Ricoverati con sintomi,Terapia intensiva,Totale attualmente positivi,DECEDUTI,Isolamento domiciliare,CASI TOTALI - A,Totale tamponi effettuati,SCHEMA VERSION,D - CASI TOTALI - A,D - DECEDUTI
0,2020-05-01,Molise,17,1,190,21,172,300,6463.0,v5,NaN,NaN
1,2020-05-01,Bolzano,112,11,757,278,634,2528,42903.0,v5,NaN,NaN
2,2020-05-01,Sicilia,399,30,2171,237,1742,3194,82860.0,v5,NaN,NaN

In [8]:
mask = df['Regione'] == 'Piemonte'
df.loc[mask, ["REPORT DATE", "Regione", "DECEDUTI", "D - CASI TOTALI - A"]].head(100)

     REPORT DATE   Regione  DECEDUTI  D - CASI TOTALI - A
13    2020-05-01  Piemonte      3097                  NaN
36    2020-05-02  Piemonte      3126                495.0
58    2020-05-03  Piemonte      3152                251.0
78    2020-05-04  Piemonte      3186                192.0
98    2020-05-05  Piemonte      3216                152.0
...          ...       ...       ...                  ...
2014  2020-08-04  Piemonte      4132                  8.0
2033  2020-08-05  Piemonte      4134                 21.0
2053  2020-08-06  Piemonte      4135                 22.0
2076  2020-08-07  Piemonte      4136                 37.0
2095  2020-08-08  Piemonte      4136                 31.0

[100 rows x 4 columns]