In [1]:
import os
import locale
from enum import Enum

import pandas as pd 
import numpy as np 

from matplotlib import pyplot as plt 
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter, AutoMinorLocator)
import matplotlib.dates as mdates
import matplotlib.gridspec as gridspec


locale.setlocale(locale.LC_ALL, 'it_IT.UTF-8')
#locale.setlocale(locale.LC_ALL, '')

'it_IT.UTF-8'

In [2]:
# Aggregate table.
aggregate_tbl_file_path = os.path.join("..","data", "Istat", "tavola-sintetica-16aprile")
aggregate_tbl_file_name = "Tavola sintetica.xlsx"
aggregate_file = os.path.join(aggregate_tbl_file_path, aggregate_tbl_file_name)

In [3]:
aggregate_s01_df = pd.read_excel(aggregate_file,sheet_name='Totale per sesso')
(aggregate_s01_df.shape, aggregate_s01_df.dtypes)

((1690, 16),
 totale decessi                  object
 Unnamed: 1                      object
 Unnamed: 2                      object
 Unnamed: 3                      object
 Unnamed: 4                      object
 Unnamed: 5                      object
 Unnamed: 6                      object
 1 marzo 2019 - 4 aprile 2019    object
 Unnamed: 8                      object
 Unnamed: 9                      object
 1 marzo 2020 - 4 aprile 2020    object
 Unnamed: 11                     object
 Unnamed: 12                     object
 incremento %                    object
 Unnamed: 14                     object
 Unnamed: 15                     object
 dtype: object)

In [4]:
aggregate_s01_df.head(3)

,totale decessi,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,1 marzo 2019 - 4 aprile 2019,Unnamed: 8,Unnamed: 9,1 marzo 2020 - 4 aprile 2020,Unnamed: 11,Unnamed: 12,incremento %,Unnamed: 14,Unnamed: 15
0,REG,PROV,NOME_REGIONE,NOME_PROVINCIA,NOME_COMUNE,COD_PROVCOM,DATA_INIZIO_DIFF,M,F,M+F,M,F,M+F,M,F,M+F
1,01,001,Piemonte,Torino,Agliè,001001,1 aprile,1,3,4,3,4,7,200,33.3333,75
2,01,001,Piemonte,Torino,Almese,001006,1 aprile,2,1,3,4,2,6,100,100,100