In [2]:
import os
import re
import json
import codecs
import locale
import requests
import datetime

import tabula

import pandas as pd
locale.setlocale(locale.LC_ALL, 'it_IT.UTF-8')

'it_IT.UTF-8'

In [3]:
# Daily deaths toll.
regions_data_file_path = os.path.join("..","data", "Istat", "Tavole-Bilancio-demografico-2018.xlsx")

In [17]:
regions_df = pd.read_excel(regions_data_file_path, sheet_name=0)
col_names = regions_df.iloc[1:2, ]
#regions_df.drop(regions_df.index[:5], inplace=True)

In [10]:
regions_df.head(10)

,Tavola 1 - Popolazione residente e movimento anagrafico per regione e ripartizione - Anno 2018,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Regioni,Popolazione \nal 01.01,Nati vivi,Morti,Saldo naturale,ISCRITTI,NaN,NaN,NaN,NaN,CANCELLATI,NaN,NaN,NaN,Saldo tra iscritti e cancellati,Saldo complessivo,Popolazione Maschi\nal 31.12,Popolazione Femmine\nal 31.12,Popolazione Totale\nal 31.12
2,NaN,NaN,NaN,NaN,NaN,Totale,Di cui da altro comune,Di cui dall'estero,Di cui per altri motivi,NaN,Totale,Di cui per altro comune,Di cui per l'estero,Di cui per altri motivi,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,In totale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Piemonte,4375865,29072,53838,-24766,154876,124766,23177,6933,NaN,149569,120472,12674,16423,5307,-19459,2115079,2241327,4356406
6,Valle d'Aosta-Vall√©e d'Aoste,126202,904,1477,-573,5698,4759,723,216,NaN,5661,4686,473,502,37,-536,61423,64243,125666
7,Lombardia,10036258,75693,99542,-23849,388220,303399,66184,18637,NaN,340055,282459,30343,27253,48165,24316,4924451,5136123,10060574
8,Trentino-Alto Adige,1067648,9637,9411,226,38857,30659,6902,1296,NaN,34455,27062,4520,2873,4402,4628,528210,544066,1072276
9,Bolzano-Bozen,527750,5284,4397,887,18894,14411,4011,472,NaN,16353,12541,2771,1041,2541,3428,262713,268465,531178

In [18]:
col_names

,Tavola 1 - Popolazione residente e movimento anagrafico per regione e ripartizione - Anno 2018,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
1,Regioni,Popolazione \nal 01.01,Nati vivi,Morti,Saldo naturale,ISCRITTI,NaN,NaN,NaN,NaN,CANCELLATI,NaN,NaN,NaN,Saldo tra iscritti e cancellati,Saldo complessivo,Popolazione Maschi\nal 31.12,Popolazione Femmine\nal 31.12,Popolazione Totale\nal 31.12